header:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 1px 0px 1px 1px #313131;
          box-shadow: 1px 0px 1px 1px #313131;
  cursor: pointer;
}

.selectorSlot {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border: 0;
  background-color: #2b3035;
  width: 120px;
  cursor: pointer;
}

.nombreCuenta {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.chart-wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.slotsBanner {
  background-color: #2b3035;
  -webkit-box-shadow: 1px 0px 1px 1px #313131;
          box-shadow: 1px 0px 1px 1px #313131;
}

.boton {
  width: 180px;
  height: 180px;
  cursor: pointer;
  border: 2px solid #323d40;
  outline: none;
  border-radius: 100%;
  -webkit-box-shadow: 1px 0px 1px 1px #313131;
          box-shadow: 1px 0px 1px 1px #313131;
  font-size: 23px;
  font-weight: bold;
  background: #2b3035;
  color: white;
}

table {
  font-weight: bold;
  
}
td{
  font-size: 15px;
}
th {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #323d40;
  color: #323d40;
}

.nombreCuenta {
  color: #f36746;
}

.error{
  box-shadow: 0px 1px 3px 1px red;
  color: aliceblue;
  
}